@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

/*************Criação de variáveis*****************/
/*dois tranços no início cria uma variável*/

:root {
    --primary-color: #cf0f0f;
    --primary-color-contrast: #ffffff;
    --field-background-color: #000;
  }
  
  .lightTheme {
    --page-background: linear-gradient(
      180deg,
      #ffffff 0%,
      #ffffff 65%,
      rgba(255, 255, 255, 0.75) 100%
    );
    --header-background-color: #e3e3e3;
    --highlight-color: #000000;
    --featured-font-family: "Archivo", sans-serif;
    --character-top-image-src: url("./semana-frontend-mundo-invertido-main/assets/images/characters/kids-on-the-bike.svg");
    --character-top-image-color: #ffffff;
    --character-bottom-image-src: url("./semana-frontend-mundo-invertido-main/assets/images/characters/inverted-world-monster.svg");
    --character-bottom-image-color: #e5e5e5;
    --background-lamp-image: url("./semana-frontend-mundo-invertido-main/assets/images/backgrounds/lamps.png");
    --footer-background-color: #b5bbbf;
  }

  .darkTheme {
    --page-background: linear-gradient(
      180deg,
      #050000 0%,
      #130404 65%,
      rgba(19, 1, 1, 0.75) 100%
    );
    --header-background-color: #220f0f;
    --highlight-color: #ffffff;
    --featured-font-family: "Rubik Glitch", sans-serif;
    --character-bottom-image-src: url("./semana-frontend-mundo-invertido-main/assets/images/characters/kids-on-the-bike.svg");
    --character-bottom-image-color: rgba(255, 255, 255, 0.1);
    --character-top-image-src: url("./semana-frontend-mundo-invertido-main/assets/images/characters/inverted-world-monster.svg");
    --character-top-image-color: #000;
    --background-lamp-image: url("./semana-frontend-mundo-invertido-main/assets/images/backgrounds/lamps-inverted.png");
    --footer-background-color: #000;
  }

.darkTheme .invertElement {
    transform: rotateZ(180deg) scaleX(-1);
}

/*************ESTILOS GERAIS*****************/
* {
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}

h1,
h2,
h3 {
    font-family: var(--featured-font-family);           /*usando a variável criada anteriormente, assim h1, h2 e h3 terão a fonte definida em sua classe*/
    font-size: 3rem;                    /*O tamanho da fonte dos títulos será igual ao tamanho padrão do HTML (geralemente é 16px) * 3 */
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 40px;
}

p {
    color: var(--highlight-color);
}

p,
input,
textarea,
label {
    font-family: "Libre Baskerville", serif;
}

button {
    padding: 16px 32px;
    background-color: transparent;
    font-family: var(--featured-font-family);
    font-weight: 900;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;        /*surge uma mãozinha ao passar o cursor por cima do botão*/
    transition: background 1s;
}

/*************ESTILOS DO HEADER*****************/
header {
    background-color: var(--header-background-color);
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;         /*a imagem não seguirá o fluxo normal da página, enquando o restante dos elementos seguirão*/
    background-image: url(./semana-frontend-mundo-invertido-main/assets/images/banner/florest.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
    filter: saturate(0);            /*para tirar cor*/
    opacity: 0.2;
}

.headerContent {
    max-width: 700px;
    padding: 80px 20px;
    text-align: center;
    z-index: 1;         /*serve para deixar o conteúdo por cima da imagem ou de outro elemento*/
}

.headerContent img {
    width: 80%;
}

.headerContent p {
    margin: 30px 0 50px;
}

.headerContent button {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
}

.headerContent button:hover {
    color: var(--primary-color-contrast);
    background-color: var(--primary-color);
}

/*************IMAGENS ABAIXO DO HEADER*****************/
.worldCharacters {
    width: 100%;
    max-width: 900px;
    position: absolute;
}

.worldCharacters#topCharacters {
    height: 100%;
    background-color: var(--character-top-image-color);
    bottom: -3px;

    mask: var(--character-top-image-src) bottom / 100% no-repeat;
    -webkit-mask: var(--character-top-image-src) bottom / 100% no-repeat;
}

.worldCharacters#bottomCharacters {
    height: 500px;
    background-color: var(--character-bottom-image-color);
    top: 3px;
    transform: rotateZ(180deg) scaleX(-1);
    position: relative;

    mask: var(--character-bottom-image-src) bottom / contain no-repeat;
    -webkit-mask: var(--character-bottom-image-src) bottom / contain no-repeat;
}

/*************ESTILOS DO MAIN*****************/
main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--page-background) no-repeat, url(./semana-frontend-mundo-invertido-main/assets/images/backgrounds/florest.png) no-repeat;
    background-size: cover;
    z-index: -1;
}

section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}

/*Section 1*/
.container {
    max-width: 1200px;
}

#sectionInvertedWorld {
    align-items: center;
}

#sectionInvertedWorld .sectionText {
    width: 50%;
}

#sectionInvertedWorld .sectionText h2 {
    max-width: 300px;
}

/*Section 2*/

#sectionStrangerThingsTrailer .sectionText {
    width: 50%;
    text-align: right;
}

#sectionStrangerThingsTrailer .sectionText h2 {
    max-width: 425px;
    display: inline-block;
}

#sectionStrangerThingsTrailer .videoFrame {
    background-color: var(--primary-color);
}

#sectionStrangerThingsTrailer .videoFrame iframe {
    position: relative;
    bottom: 24px;
    left: 24px;
    border: 2px solid;
    border-image: linear-gradient(      /*aplicar o estilo de gradiente*/
        var(--primary-color),
        var(--primary-color-contrast)
    );
    border-image-slice: 10;     /*para o gradiente fique numa linha*/
}


/*Section 3*/
#sectionStrangerThingsGallery {
    width: 100%;
    background: var(--background-lamp-image) 120% / 50% no-repeat;
    justify-content: center;
}

#sectionStrangerThingsGallery .container {
    max-width: 1200px;
    width: 100%;
}

#sectionStrangerThingsGallery .container h2 {
    max-width: 800px;
}

#sectionStrangerThingsGallery .galleryContainer {
    display: flex;
    gap: 50px;
    padding-left: 20px;
}

#sectionStrangerThingsGallery .galleryContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;      /*especifica como um objeto deve ser redimensionado para se ajustar. | over: redimensiona para que não deixe nenhum espaço vazio*/
    border: 10px solid var(--highlight-color);
}

#sectionStrangerThingsGallery .galleryImage {
    width: 250px;
    height: 250px;
    outline: 20px solid var(--highlight-color);      /*cria uma borda externa*/
    border: 3px solid var(--primary-color);
    box-sizing: initial;            /*o tamanho da borda é regulado pelo padrão*/
}


/*Section 4*/
#sectionForm {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

#sectionForm h2 {
    width: 600px;
}

#sectionForm .formContent h3 {
    flex-basis: 30%;            /*Altera a largura*/
    text-align: left;
    margin: 0;
    color: var(--highlight-color);
}

#sectionForm .formContent h3 span {
    color: var(--primary-color);
}

#sectionForm .formContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sectionForm .formContainer {
    flex-basis: 50%;
    position: relative; 
}

#sectionForm .formContainer::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;         /*a imagem não seguirá o fluxo normal da página, enquando o restante dos elementos seguirão*/
    background-color: var(--highlight-color);
    top: 24px;
    left: 24px;
    z-index: -1;        /*para ficar por trás*/
}

#sectionForm .formContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    text-align: left;
}

input, textarea {
    border: 2px solid var(--primary-color-contrast);
    background-color: var(--field-background-color);
    color: var(--primary-color-contrast);
    padding: 8px;

    margin-bottom: 24px;
    font-size: 1rem;
}

label {
    margin-bottom: 8px;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
    border-color: black;
}

#sectionForm .formContainer form button {
    background-color: var(--field-background-color);
    color: var(--primary-color-contrast);
    border: none;

    max-width: 300px;
    align-self: center;
}

#sectionForm .formContainer form button:hover {
    color: var(--field-background-color);
    background-color: var(--primary-color-contrast);
}


/*************RODAPÉ*****************/
footer {
    padding: 60px 0;
    background-color: var(--footer-background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

footer p {
    max-width: 700px;
    margin-bottom: 24px;
}

footer::before,
footer::after {
    content: "";
    width: 300px;
    height: 200px;
    position: absolute;
    background: url(./semana-frontend-mundo-invertido-main/assets/images/footer/tape.svg) no-repeat;
    background-size: contain;
    bottom: -30px;
}

footer::before {
    left: -50px;
    transform: rotateZ(-10deg);
}

footer::after {
    right: -50px;
    transform: rotateZ(10deg);
}